.parametresItem {
    /* position: absolute !important;
    bottom: 0 !important; */
    /* width: 100% !important; */
    /* width: "200px"; */
    background-color: black !important;
    margin-top:"500px"
}